
.languagesListButton{
	background-image: url("../images/languages.png");
	left: 50%;
    top: 22%;	
    transform: translate(-50%, 0%);	
}


.backgroundButton{
	background-image: url("../images/background.png");
	left: 30%;
    top: 22%;	
    transform: translate(0%, 0%);
}

.textToSpeechButton{
	background-image: url("../images/tts.png");
	right: 30%;
    top: 22%;	
    transform: translate(0%, 0%);	
}


.galleryButton{
	background-image: url("../images/gallery.png");
	left: 20%;
    top: 60%;	
    transform: translate(0%, -50%);
}





.colorsButton{
	background-image: url("../images/color-wheel.png");
	right: 20%;
    top: 60%;	
    transform: translate(0%, -50%);
}

.updateBiblesListButton{
	background-image: url("../images/update.png");
	right: 15%;
    top: 22%;	
    transform: translate(0%, 0%);
}



.setting-item{
	color: white;
	background-color: blue;
	width: 80%;
	text-align: center;
	margin:auto;
	font-size: 24px;
	border-radius: 9999px;
	padding: 10px;
	margin-bottom: 20px;
}


.setting-item:active{
	opacity: 0.5;
}
.setting-title{
	width: 80%;
	text-align: center;
	color: white;
	margin:auto;
	font-size: 24px;
	border-radius: 9999px;
	padding: 10px;
	margin-bottom: 10px;	
	
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

