<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/UrduBibleWatch1" version="1.0.1" viewmodes="maximized">
    <tizen:application id="b9M3GOKisW.UrduBibleWatch1" package="b9M3GOKisW" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name xml:lang="ur-pk">اردو Bible Watch 1</name>
    <name>Urdu Bible Watch 1</name>
    <tizen:profile name="wearable"/>
</widget>
