
.colorWheel{
	position: absolute; 
	width: 370px; 
	height: 370px; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%);	
	display: block;
}
#selectedColor{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}